html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #F7D2B3;
  position: absolute;
}

header {
  overflow: hidden;
  background-color: #DCF9E0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space elements evenly */
  padding: 0 20px; /* Add padding for spacing */

}

.header-content {
  display: flex;
  align-items: center;

}

h1,p {
  color: black;
  font-size: 80px;
}


.logo-button, .analytics-button, .login-button, .edit-store-name-button, .edit-store-image-button{
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.logo-button{
  position: relative;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;
  margin-right: 10px;

}

.analytics-button {
  position: fixed;
  top: 10px;
  right: 120px;  
}

.login-button {
  position: fixed;
  top: 10px; 
  right: 50px;
} 

#store-name {
  color: black;
  font-size: 80px;
  margin: 0; /* Remove any default margin */
  padding: -50; /* Remove any default padding */
  position: fixed; /* Position the store name */
  transform: translate(140%, -10%); /* Center the element */

}
#edit-store-name{
  background-color: #DCF9E0;
  opacity: 100%;
  text-align: right;
  border: none;
  font-size: 20px;
  position: fixed; /* Position the store name */
  transform: translate(290%, 150%); /* Center the element */
}

.edit-store-name-button{
  position: relative;
  margin-top: 75px;
  margin-left: 510px;
  padding: 10px;
}

#store-image {
  color: black;
  opacity: 70%;
  font-size: 20px;
  margin: 0; /* Remove any default margin */
  padding: -50; /* Remove any default padding */
  position: absolute; /* Position the store name */
  top: 345px;
  left: 435px;
}

.edit-store-image-button{

  position: fixed;
  top: 350px;
  left: 585px;

}
#store-img{
  position: fixed;
  top: 220px;
  left: 650px;
}

hr.solid {
  border-top: 3px solid #000;
  margin-top: 0px;
}

.add-product-img {

  cursor: pointer;
  position: fixed;
  top: 550px;
  left: 30px;

  border: 2px solid;

}