html {
  height: 100%;
  width: 100%;
}

header {
  background-color: #DCF9E0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7D2B3;
}

h1 {
  color: black;
}

p {
  color: black;
}

body,
header {
  margin: 0;
  padding: 0;
}

header {
  height: 5%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.corners {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

img[alt="Farmbook"] {
  width: 35%;
}

img[alt="Cart"] {

  width: 30%;
}

/* .hidden {
  display: none;
} */