/*
  Name: Hannah King
  Date: 06.10.2024
  Groupmates: Paige Lui, Mariana Pereira, and Hawraa Al Hasnawi

  This is the errorpage.css file used to style the errorpage.html file. It applies
  the same webpage look as the other FarmBook webpages, including a light green and
  orange background and with a navigation bar at the top.
*/
html {
  height: 100%;
  width: 100%;
}

header {
  background-color: #DCF9E0;
  height: 150px;
}

body {
  background-color: #F7D2B3;
}

#farmbook-logo {
  height: fit-content;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
}

p {
  text-align: center;
  font-size: 50px;
}