body {
  margin: 0;
  padding: 0;
  background-color:antiquewhite;

}

.navigation-board {
  /**makes the green background span the whole width of the page**/
  display: flex;
  justify-content: space-between;
  background-color: #DCF9E0;
  padding: 12px 0;
  height: 150px;
}

.navigation-board a {
  text-align: center;
  transition: all 0.3s ease;

}



.navigation-board a:hover {
  background-color: #9decd4;
}

/*makes the navigation logos small*/
#log-in,
#shopping-cart {
  width: 100px;
  padding: 10px 0px;
  border:none;
  
}

#home-page {
  width: 200px;
  padding: 20px 50px;
  border:none; 
}

.Search {
  display: flex;
  justify-content: space-between;
  padding-block: 5%;
}

#local{
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 5%;
  position: relative;
  background-color: #9decd4 ;
  border: none;
  color: #0d0d0d;
  font-size: x-large;

}
.product-container-local{
  display:flex ;
  justify-content: space-around;
  padding: 2%;
  
  position: relative;
  background-color: #DCF9E0;
}
.product-details{
  background-color:  #DCF9E0;
}

.carousel{
  position: relative;
  width: 70%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 10px 0; 
}
.carousel-container {
  display: flex;
  overflow: hidden;
}
/**makes it horizontal**/

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease;
}
.product-item {
  min-width: 25%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
/**makes the button see through**/
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color:#efb631a5;
  border: none;
  color: white;
  padding: 20px;
  cursor:auto;
  z-index: 10;
}
.product-image {
  width: 100%;
  border-radius: 20px;
}
/**trying to make the buttons be around the items**/
.carousel-button.next {
  right: 0px;
}
.carousel-button.prev{
  left:0px;
}