/*
  Name: Hannah King
  Date: 06.10.2024
  Groupmates: Paige Lui, Mariana Pereira, and Hawraa Al Hasnawi

  This is the productpage.css file used to style the productpage.html file. It applies
  the same webpage look as the other FarmBook webpages, including a light green and
  orange background and with a navigation bar at the top. In the main body of the
  webpage it display an image of a product and that product information.
*/
html {
  height: 100%;
  width: 100%;
}

header {
  background-color: #DCF9E0;
  height: 150px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-left {
  float: left;
}

#nav-right {
  float: right;
}

body {
  background-color: #F7D2B3;
}

#farmbook-logo {
  height: fit-content;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 15px;
}

#shopping-cart, #login-icon {
  height: fit-content;
  margin-top: 15px;
  margin-right: 15px;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
}

#product-page {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

#product-img {
  width: 500px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.solid {
  color:black;
  border-width: 3px;
  border-style: solid;
  margin: 0;
}