html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #F7D2B3;
  position: absolute;
}

header {
  overflow: hidden;
  background-color: #DCF9E0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space elements evenly */
  padding: 0 20px; /* Add padding for spacing */
}

.header-content {
  display: flex;
  align-items: center;
}

h1 {
  color: black;
  font-size: 80px;
}

.logo-button, .analytics-button, .login-button, .edit-store-name-button, .edit-store-image-button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#logo-button {
  position: relative;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;
  margin-right: 10px;
}

#analytics-button {
  position: relative;
  top: 5px;
  right: 120px;
}

#login-button {
  position: relative;
  top: 5px;
  right: 50px;
}

#store-name {
  color: black;
  font-size: 80px;
  /* Remove any default margin */
  position: relative; /* Position the store name */
  transform: translate(60%, -10%); /* Center the element */
}

#edit-store-name {
  background-color: #DCF9E0;
  opacity: 100%;
  text-align: right;
  border: none;
  font-size: 20px;
  position: relative; /* Position the store name */
  margin-top: 75px;
  margin-left: -80px;
}

.edit-store-name-button {
  position: relative;
  margin-top: 75px;
  margin-left: 10px;
}

#store-image {
  color: black;
  opacity: 70%;
  font-size: 20px;
  margin: 0; /* Remove any default margin */
  position: absolute; /* Position the store name */
  top: 450px;
  left: 690px;
}

.edit-store-image-button {
  position: relative;
  top: 95px;
  left: 845px;
}

#store-img {
  position: relative;
  top: 65px;
  left: 600px;
}

hr.solid {
  border-top: 3px solid #000;
  margin-top: -230px;
}

.add-product-img {
  cursor: pointer;
  position: relative;
  top: 550px;
  left: 30px;
  border: 2px solid;
}

p {
  color: black;
  position: relative;
  top: 10px;
  left: 30px;
  margin: 20px 0; /* Adjust margin for better spacing */
}

#product-registration {
  margin-top: 20px;
}

/* Add margin between each input field and its corresponding label */
#product-registration p {
  margin-bottom: 10px;
}

/* Adjust the input fields to match with their names */
input[type="text"] {
  width: 300px; /* Adjust the width as needed */
  padding: 5px; /* Add padding for better appearance */
  margin-left: 30px; /* Adjust margin to match the label */
  margin-top: 10px; /* Adjust top margin */
}

/* Adjust the save button */
#save-button {
  margin-top: 10px; /* Add margin to separate from input fields */
  padding: 5px 10px; /* Add padding for better appearance */
}

.dropdown {
  display: none;
}

.dropdown.show {
  display: block;
}
